<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
        <h1>Welcome to the Vaccination System System</h1> 
        <p>Please Enter your id and password:</p>
        <form action="Logon" method="post">
            <table>
                <tr>
                    <td>User ID:</td>
                    <td><input type="text" name="userid" id="userid"
                         value=""/></td>           
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" id="password">
                    </td>
                </tr>
            </table>
            <br>        
            <input type="submit" value="Logon">
        </form>
        <br>
    </body>
</html>